<%
@updated_at = File.mtime(__FILE__)
@created_at = File.mtime(__FILE__)
%>
<script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
<div class="inner cover first " style="min-height:1000px">
  <div class="container">
    <div class="demo-description">
    <h2 class="">Since 2009, Consected has been helping companies and <span class="nobreak">non-profits</span> understand how processes and technology can help them work better.</h2>
    <p class="text-left" style="font-weight:bold">This is a demo of how we can create web-based services that consume and analyze data, and present that data in interesting ways.</p>
    <p class="text-left ">
      <strong>Step 1:</strong> We will attempt to calculate your location based on your IP address. 
    </p>
    <p class="text-left ">
      <strong>Step 2:</strong> We'll ask you to confirm that the location we guessed is correct, or to try a different method to find where you are.         
    </p>
    <p class="text-left ">
      <strong>Step 3:</strong> We reward you by showing recent Tweets around this location, which you can interact with directly on the map or in a list. 
    </p>    
    <p class="text-center"><a href="#" class="start-demo btn btn-default">Start Now</a></p>
    </div>    
  </div>
  
  <div class="container text-left step1-instructions" style="display: none;">    
    <h2>Step 1: Getting your location from your IP address</h2>
    <p>To start, we attempt to to calculate your location based on your IP address. The IP address we receive from your web browser depends on your computer or mobile device, the broadband, cable or cellular network you are attached to, and a number of other network devices that sit between your device and our server.</p>
    <p>Due to the many variables, the IP address we receive is often not accurate.</p>
    <p>Based on the IP address we receive, we perform a lookup against a database of over 2.5 million IP address ranges. It is in one of these ranges your IP address should fall. For each block of numbers, we have a latitude and longitude, plus some data that references country, state or province and city names for that point.</p>
    <p>If the IP address we receive and the IP address information we have in our database is correct, we show you your current location.</p>
    <p class="text-center"><a href="#" class="step-1-check btn btn-default ">Check The Results</a></p>
  </div>
  
  <div class="container text-left step2-instructions" style="display: none;">    
    <h2>Step 2: Check the location we identified</h2>
    <p>Did we calculate your location correctly using your IP address? Take a look at the map and the address. If we guessed your location within about a mile, tell us Yes. If not, tell us No and we'll try using a different method.</p>
    <br/>
  </div>
  <div class="container text-left step2a-instructions" style="display: none;">    
    <h2>Step 2: Check the location we identified</h2>
    <p>Since we didn't make a good calculation for your location based on your IP address, we will try asking your web browser for a location. If you are on a computer attached to a wired or wifi network this often works reasonably well. If you are on a mobile device with GPS location services, this may be quite accurate.</p>
    <p></p>
    <br/>
  </div>
  
  <div class="container tweets-instructions" style="display: none;">
    <h2>Step 3: Reward! See what has been happening nearby</h2>
    <p class="text-left">Click a marker on the map to view the tweet. Or scroll through the tweet list and click it to see where on the map it was located.</p>
  </div>
  <div id="your-location-is" style="display: none;">
    
  </div>
</div>

<script id="your-location-is-template" type="text/x-handlebars-template">
  <div class="row text-left">    
    <div id="map-outer-container" class="col-sm-12 col-md-9 col-lg-6">    
      
      <div style="width:auto; margin:0 auto 12px; ">
        <div style="width:auto; min-width:550px; height:450px;" id="map-canvas" ></div>    
      </div>      
      
      <p class="text-center"><a href="http://www.consected.com/" class="btn btn-default btn-cta">Learn More About Consected<a/></p>
      <p class="text-center">
      {{latitude}}&deg;, {{longitude}}&deg;
      </p>      
    </div>    
    <div id="location-instructions-container" class="col-sm-12 col-md-9 col-lg-6">
      {{#if ip}}
      <p>        
        Your IP address <strong>{{ip}}</strong>
        appears to be located near here...                
      </p>
      
      {{else}}
      <p>
        Did we receive an accurate location from your web browser?         
      </p>
      
      {{/if}}
          
      <div class="adr">        
        <span class="street-address">{{location_details.street_address}}</span> 
        <span class="locality">{{location_details.city_name}}</span> 
        <span class="region">{{location_details.subdivision_2_name}}</span>        
        <span class="region">{{location_details.subdivision_1_name}}</span>         
        <span class="postal-code">{{postal_code}}</span>
        <div class="country-name">{{location_details.country_name}}</div>
      </div>
    
      
    
          
      {{#if ip}}      
      <p>
        <div class="wait-for-map-loaded">
          <a href="#" class="do-browser-locate btn btn-default">No - This is not Close</a> <a href="#" class="ip-loc-ok-feedback btn btn-default">Yes - Close Enough</a>
        </div>
        <div class="show-while-map-loading">
          The Map is still loading. Wait a moment...
        </div>
      </p>
        {{else}}
      <p> 
        <div class="show-while-map-loading">
          The Map is still loading. Wait a moment...
        </div>
        <div class="wait-for-map-loaded">
          <a href="#" class="do-user-locate btn btn-default">No - This is not Close</a> <a href="#" class="browser-loc-ok-feedback btn btn-default">Yes - Close Enough</a>
        </div>
      </p>

      
      {{/if}}
      
      
    </div>

    <div id="tweets-outer-container" class="col-sm-12 col-md-3 col-lg-6">
      <div id="tweets-near-here"></div>    
    </div>
  </div>
  <p><br/></p>  
</div>

<div class="credits" style="font-size:90%">
<hr/>
<p>
    This demonstration includes open source GeoLite2 data created by MaxMind, available from
    <a href="http://www.maxmind.com">http://www.maxmind.com</a>. 
  </p>
  <p>Based on user feedback we supplement the data to provide more accuracy. If you would like access to the free (no cost, open source, no warranty) supplementary IP list, <a href="/contact">contact us</a></p>
  <p><a href="https://github.com/twitter/twemoji">Twitter Emoji</a> provides the the graphics characters in the tweets. The graphics are licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a></p>
</div>
</script>

<script id="your-location-failed-template" type="text/x-handlebars-template">
  <div  class="do-browser-locate-outer">
      {{#if _code_flag.NOT_FOUND}}
          <p class="warning">
          We didn't find a location for the IP address your device or network reported to us. We can try to ask your web browser where it believes you are located.
          </p>
          <p class="do-browser-locate-btn-outer"><a class="do-browser-locate btn btn-default" href="#">Get My Location</a>
          </p>
          <p class="do-browser-locate-working"></p>
      {{else}}        
          <p class="error">Something went wrong. Sorry we can't get your location at this time.</p>
      {{/if}}        
  </div>
</script>

<script id="tweets-near-here-template" type="text/x-handlebars-template">  
    {{#if tweets}}
      <p style="font-weight:bold" class="text-center tweets-status" >
        {{results.count}} tweets within a {{results.radius.[0]}} mile radius
      </p>
    {{/if}}
  <div class="tweet-list">
  {{#each tweets}}
  
  <div class="tweet-item" id="tweet-item-{{id}}">
    <div class="tweet-head"><img class="img img-thumbnail pull-left" src="{{user.profile_image_url_https}}" style="margin-right: 1em;"/> 
      <div><span class="tweet-distance pull-right">{{one_decimal _distance}}m </span>@{{user.screen_name}}</div>        
      <div><span class="pull-right tweet-date">{{local_date created_at}}</span> {{user.name}}</div>
      
    </div>        
    <div class="tweet-body">    
    <p>{{{_html}}}</p>
    </div>    
    <div class="tweet-media row">        
      {{#each entities.media}}
        
      <div class="col-xs-6 col-md-3">
        <a href="#" data-img-src="{{media_url_https}}" class="view-image-modal thumnail" data-toggle="modal" data-target="#view-image-modal"><img src="{{media_url_https}}:thumb" class="img img-thumbnail"/></a>
      </div>
      {{/each}}
      {{#each entities._instagram}}
      <div class="col-xs-6 col-md-3">
        <a href="#" data-img-src="{{media_url_https}}" class="view-image-modal thumbnail" data-toggle="modal" data-target="#view-image-modal"><img src="{{media_url_https}}" class="img img-thumbnail"/></a>
      </div>
      {{/each}}
          
    </div>
  </div>
    
  {{/each}}
  </div>
  
</script>

<script>
  $(document).ready(function(){
   
    
    var yli_block = $('#your-location-is');      
    var l = new cnsd.locate();  
    var t = new cnsd.tweets();
    
    var map_only_layout = function(){
      $('#tweets-outer-container, .tweets-instructions').hide();      
      
      $('#location-instructions-container').show();
    };
    
    var map_and_tweet_layout = function(){
      $('#location-instructions-container').hide();
      
      $('#tweets-outer-container, .tweets-instructions').show();      
    };
    
    var loaded_new_loc = function(block, data){         
      window.setTimeout(function(){
        l.show_map('map-canvas', {mark_loc: true, zoom: 13});
      }, 100);     
      map_only_layout();
    };
    
        
    
    l.add_loaded_callback(loaded_new_loc);
    
    t.add_loaded_callback(function(block, data){
      var tweets = data.tweets;
      
      t.process_tweets(tweets, l);
      l.set_map_options({mapTypeId: google.maps.MapTypeId.HYBRID});
      
      $('.tweets-status').appendTo('.tweets-instructions');
    });
    
    
    $(document).on('click', 'a.start-demo', function(ev){
      ev.preventDefault();          
      $('.demo-description').slideUp();
      
      $('.step1-instructions').slideDown();            
            
    });
    $(document).on('click', 'a.step-1-check', function(ev){
      $('.step1-instructions').slideUp();   
      $('.step2-instructions').slideDown();      
      
      $('#your-location-is').fadeIn();
      window.setTimeout(function(){
        l.get_location_for_block(yli_block);
      }, 100);
    });
    
    $(document).on('click', 'a.ip-loc-ok-feedback', function(ev){
      ev.preventDefault();
      $('.step2-instructions').slideUp(); 
      l.send_ip_location_feedback();
      t.near_here_for_block($('#tweets-near-here'), l.latitude, l.longitude);            
      map_and_tweet_layout();
    });

    
    $(document).on('click', 'a.do-browser-locate', function(ev){
      ev.preventDefault();
      $('.step2-instructions').slideUp(); 
      $('.step2a-instructions').slideDown(); 
      $('.do-browser-locate-outer').html("<div class=\"warning\">Your browser may prompt you for permission for this website to receive your location. Check the top or bottom of the page for this prompt.<br/>We will only use this information anonymously, to allow this service to find your approximate location and to help us build a better, freely available map of the Internet.</a>");
      cnsd.ajax_working('.do-browser-locate-working');
      l.get_location_from_browser(function(ll){
        cnsd.ajax_done('.do-browser-locate-working');                
        cnsd.view_template(yli_block, 'your-location-is-template', ll);
        loaded_new_loc(null, ll);
        
      },
      function(data){
        cnsd.ajax_done('.do-browser-locate-working');
        $('.do-browser-locate-outer').html("<div class=\"warning\">Your browser was not able to get your location: "+data.code+"<br/><br/><a href=\"#\" class=\"do-demo-iplocate\">Click here</a> to see what\'s happening at a demo location.</div>");
      });
    });
    
    $(document).on('click', 'a.browser-loc-ok-feedback', function(ev){
      ev.preventDefault();
      $('.step2-instructions, .step2a-instructions').slideUp(); 
      l.send_updated_location();
      t.near_here_for_block($('#tweets-near-here'), l.latitude, l.longitude);            
      map_and_tweet_layout();
    });
    
    $(document).on('click', 'a.do-user-locate', function(ev){
      ev.preventDefault();
      $('#location-instructions-container').html('Sorry we couldn\'t help. <a href="#" class="do-demo-iplocate">Click here</a> to see what\'s happening at a demo location.');
    });
    $(document).on('click', 'a.do-demo-iplocate', function(ev){
      ev.preventDefault();      
      $('.step2-instructions, .step2a-instructions').slideUp(); 
      
      l.latitude = 42.2934906;
      l.longitude = -71.0200497;
      loaded_new_loc();
      t.near_here_for_block($('#tweets-near-here'), l.latitude, l.longitude);            
      map_and_tweet_layout();
    });
        

  });
</script>

