<%
@updated_at = File.mtime(__FILE__)
@created_at = File.mtime(__FILE__)
%>
<div class="inner cover first contained" >
  <h1 class="cover-heading">Services.</h1>
  <h3 class="lead">Since 2009, Consected has been helping companies and <span class="nobreak">non-profits</span> understand how processes and technology can help them work better.</h3>
  <div>
    <p>As we get a little time away from client work we add new demos to show what we can do online.</p>
    <p>The first service in the portfolio is: <strong>cnsd-locate</strong></p>
  </div>    
</div>