
<% if @administrators.length == 0 %>
  <p>
    You don't have any administrators configured for this application.
  </p>
  
<% else %>
 <table>
  
  <tbody>
    <% @administrators.each do |administrator| %>
      <% @administrator = administrator %>
      <tr>
        <td><%= link_to administrator.email, administrator %></td>        
        <td><%= administrator.first_name %></td>
        <td><%= administrator.last_name %></td>
        <td><%= status || 'Unregistered' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
  

<%  end %>
  
