input {  
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid silver;
  padding: 4px;    
}

input[type='submit'], button, .btn.btn-primary {
  background: #C00;
  border: 1px solid #700;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin-left: 6px;
  &:hover {
      background: #F00;
    }
}

form.centered {
  display: inline-block;
  text-align: right;  
}

.form-actions {
  
  a.btn {  
    vertical-align: baseline;
  }
  
}

div.field_with_errors {
  display: inline-block;
  
  label {
    color: red;
  }
}