<h1>Application Accounts</h1>

<% if @accounts.length == 0 %>
  <p>
    You don't have any applications configured yet.
  </p>
  <p>
    <%= link_to 'Create a New Account', new_account_path, class: 'btn btn-default' %>
  </p>
<% else %>
  <table>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>          
          <td><%= link_to account.owner_name , account %></td>          
          <td><%= admin_status account %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Account', new_account_path, class: 'btn btn-default' %>
<%end%>